<a href="https://colab.research.google.com/github/OH1107/statistics/blob/master/training/4%EC%9E%A5_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC_%EB%B0%8F_%EA%B8%B0%EC%B4%88%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 분석을 위한 데이터 준비

In [1]:
from google.colab import drive

ROOT = "/content/drive"  
drive.mount(ROOT)

Mounted at /content/drive

In [2]:
%cd /content/drive/My Drive/Colab Notebooks/statistics/data

/content/drive/My Drive/Colab Notebooks/statistics/data

In [3]:
%ls

'실습파일_10장 분산분석.ipynb'
'실습파일_11장 회귀분석.ipynb'
'실습파일_12장 요인분석.ipynb'
'실습파일_13장 분류예측분석.ipynb'
'실습파일_14장 군집분석.ipynb'
'실습파일_15장 포지셔닝 분석.ipynb'
'실습파일_16장 컨조인트 분석.ipynb'
'실습파일_17장 비모수 통계분석.ipynb'
'실습파일_3장 파이썬 기초.ipynb'
'실습파일_4장 데이터전처리 및 기초분석.ipynb'
'실습파일_5장 기술통계분석.ipynb'
'실습파일_6장 t 검정.ipynb'
'실습파일_7장 상관관계분석.ipynb'
'실습파일_8장 범주형 데이터 분석.ipynb'
'실습파일_9장 신뢰성 분석.ipynb'
 Ashopping.csv
 CCA.csv
 Conjoint.csv
 Correspondence.csv
 부록_통계표.docx
 MDS1.csv
 MDS3.csv
'Step by Step 파이썬 비즈니스 통계분석_정오표.xlsx'

## 데이터 전처리

### 데이터 호출하기

In [4]:
import pandas as pd
df = pd.read_csv('Ashopping.csv',sep=',',encoding='cp949')
df

     고객ID  이탈여부     총_매출액  방문빈도  1회_평균매출액  ...  친절성  신속성  책임성  정확성  전문성
0       1     0   4007080    17    235711  ...    6    6    6    6    6
1       2     1   3168400    14    226314  ...    5    3    6    6    6
2       3     0   2680780    18    148932  ...    7    7    6    6    7
3       4     0   5946600    17    349800  ...    6    6    6    5    6
4       5     0  13745950    73    188301  ...    5    6    6    5    6
..    ...   ...       ...   ...       ...  ...  ...  ...  ...  ...  ...
995   996     0   5135090     8    641886  ...    6    6    6    6    6
996   997     0  10315690    49    210524  ...    5    7    6    6    6
997   998     0   2741290    10    274129  ...    6    4    5    6    5
998   999     0  11268990    15    751266  ...    4    5    5    4    4
999  1000     0   3182880    23    138386  ...    5    6    7    6    6

[1000 rows x 39 columns]

### 무작위 표본 추출

In [5]:
data_temp=df.sample(n=10, replace=False, random_state=123)
data_temp

     고객ID  이탈여부     총_매출액  방문빈도  1회_평균매출액  ...  친절성  신속성  책임성  정확성  전문성
131   132     0   5501240    27    203750  ...    5    6    6    6    5
203   204     0  24832930    78    318371  ...    5    5    5    5    5
50     51     0   3225460     8    403183  ...    5    5    5    5    5
585   586     0  14802080    30    493403  ...    5    3    6    6    6
138   139     0   8546080    45    189913  ...    5    5    6    6    6
632   633     0  21913110    18   1217395  ...    5    6    6    5    5
328   329     0   4990750    19    262671  ...    7    6    5    5    6
461   462     0   6831040    34    200913  ...    4    6    6    5    5
924   925     0   4224300    10    422430  ...    6    7    6    5    6
479   480     0   2812370    18    156243  ...    5    4    5    5    5

[10 rows x 39 columns]

### 조건을 만족하는 레코드 추출

In [7]:
churn_customer=df[df.이탈여부==1]
churn_customer.head()

    고객ID  이탈여부    총_매출액  방문빈도  1회_평균매출액  ...  친절성  신속성  책임성  정확성  전문성
1      2     1  3168400    14    226314  ...    5    3    6    6    6
18    19     1  8421390     9    935710  ...    6    6    5    6    6
63    64     1  2301730    10    230173  ...    6    6    6    7    6
71    72     1  6636750     7    948107  ...    4    5    5    4    4
72    73     1  9773200     7   1396171  ...    5    7    6    6    6

[5 rows x 39 columns]

### 특정 필드 추출

In [9]:
df_1=df[['고객ID','방문빈도']]
df_1.head()

   고객ID  방문빈도
0     1    17
1     2    14
2     3    18
3     4    17
4     5    73

### 데이터 분할

In [10]:
Under_500 = df[df.고객ID<=500]
Upper_500 = df[df.고객ID>500]
Under_500.tail()
Upper_500.tail()

     고객ID  이탈여부     총_매출액  방문빈도  1회_평균매출액  ...  친절성  신속성  책임성  정확성  전문성
995   996     0   5135090     8    641886  ...    6    6    6    6    6
996   997     0  10315690    49    210524  ...    5    7    6    6    6
997   998     0   2741290    10    274129  ...    6    4    5    6    5
998   999     0  11268990    15    751266  ...    4    5    5    4    4
999  1000     0   3182880    23    138386  ...    5    6    7    6    6

[5 rows x 39 columns]

### 데이터 추가

In [11]:
df_join=Under_500.append(Upper_500, ignore_index=True)
df_join

     고객ID  이탈여부     총_매출액  방문빈도  1회_평균매출액  ...  친절성  신속성  책임성  정확성  전문성
0       1     0   4007080    17    235711  ...    6    6    6    6    6
1       2     1   3168400    14    226314  ...    5    3    6    6    6
2       3     0   2680780    18    148932  ...    7    7    6    6    7
3       4     0   5946600    17    349800  ...    6    6    6    5    6
4       5     0  13745950    73    188301  ...    5    6    6    5    6
..    ...   ...       ...   ...       ...  ...  ...  ...  ...  ...  ...
995   996     0   5135090     8    641886  ...    6    6    6    6    6
996   997     0  10315690    49    210524  ...    5    7    6    6    6
997   998     0   2741290    10    274129  ...    6    4    5    6    5
998   999     0  11268990    15    751266  ...    4    5    5    4    4
999  1000     0   3182880    23    138386  ...    5    6    7    6    6

[1000 rows x 39 columns]

### 데이터 병합

In [12]:
df_1=df[['고객ID','방문빈도']]
df_2=df[['고객ID','총_매출액']]

df_merge=df_1.merge(df_2)

df_merge.head()

   고객ID  방문빈도     총_매출액
0     1    17   4007080
1     2    14   3168400
2     3    18   2680780
3     4    17   5946600
4     5    73  13745950

## 파생변수 생성

![image.png]()

### 표현형태 변환

In [13]:
import numpy as np

df['남녀']=np.where(df.성별 == 0, '남자','여자')
df[['고객ID','성별','남녀']]

     고객ID  성별  남녀
0       1   1  여자
1       2   1  여자
2       3   1  여자
3       4   1  여자
4       5   0  남자
..    ...  ..  ..
995   996   1  여자
996   997   0  남자
997   998   0  남자
998   999   1  여자
999  1000   1  여자

[1000 rows x 3 columns]

## 척도 변환